<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.escoand.android.lichtstrahlen_2013"
    android:versionCode="10"
    android:versionName="3.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />

    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:description="@string/about"
        android:enabled="true"
        android:hasCode="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:testOnly="false" >
        <activity
            android:name="com.escoand.android.lichtstrahlen.MainActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.escoand.android.lichtstrahlen.Main" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.escoand.android.lichtstrahlen.NotificationReceiver" >
        </receiver>

        <activity android:name="com.escoand.android.lichtstrahlen.Preferences" >
        </activity>
        <activity android:name="com.escoand.android.lichtstrahlen.Reminder"></activity>
    </application>

</manifest>